.btn-primary {
    background-color: #fff;
    height: 24px;
}

.btn-info {
    background-color: blue;
    height: 24px;
    color: #fff;
}

.btn-focus {
    background-color: black;
    color: #fff;   
}
.btn-fire {
    background-color:red;
    color: #fff;   
}