.btn-facts{
    width: 300Px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.border {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}